@import url(https://fonts.googleapis.com/css?family=Lato);

@main-font: 'Lato';

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: @main-font;
  padding: 20px;
}

// counter
button {
  margin: 0 3px;
}

// form
form {
  padding: 5px;

  input[type="text"] {
    margin: 0 10px;
  }

  input[type="submit"] {
    margin-left: 10px;
  }
}
